body {
    background-color: black;
}

.container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    background-color: white;
}

.main {
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 85%;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px;
    text-align: center;

}

.main:hover {
    background-color: rgb(2, 255, 2);
}

.alart {
    font-size: large;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}